{$DOMAIN} {
  encode zstd gzip

  handle /radio-stream/live.mp3 {
    rewrite * /live.mp3
    reverse_proxy icecast:8000 {
      flush_interval -1
    }
  }

  handle /api/* {
    reverse_proxy api:3001
  }

  handle /socket.io/* {
    reverse_proxy api:3001
  }

  handle /uploads/* {
    reverse_proxy api:3001
  }

  handle {
    reverse_proxy web:3000
  }

  header {
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy strict-origin-when-cross-origin
    -Server
  }
}
